/* * { outline: 1px solid red } */

body {
  background-color: #FFFAF1;
}

#viewbox {
  background: #f0f0f0;
  outline: 2px solid black;
  /*
  width: 55%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  */
}

#icon {
  vertical-align: sub;
  /*
  background: #f0f0f0;
  outline: 2px solid black;
  */
}

.body {
  fill: #f0f0f0;
  stroke-width: 2;
  stroke: black;
}

@keyframes glow {
  0% {fill: #f0f0f0; stroke: black;}
  50% {fill: #E74C3C; stroke: #E74C3C;}
  100% {fill: #f0f0f0; stroke: #E74C3C;}
}

@keyframes glow2 {
  0% {fill: #f0f0f0; stroke: #E74C3C;}
  50% {fill: #E74C3C; stroke: #E74C3C;}
  100% {fill: #f0f0f0; stroke: green; stroke-width: 4;}
}

.label {
  font: bold 16px Arial;
  text-anchor: middle;
  dominant-baseline: central;
  cursor: default;
}

.vertex:hover .body {
  fill: #21e264;
  opacity: 1;
}

.edge {
  fill: #ff9f3d;
  stroke-width: 3;
  stroke: black;
}

.edge:hover {
  stroke: red;
}

.button {
    fill: #007bbf;
    pointer: cursor;
}

.button:hover {
    fill: #0069d9;
}

.button-text {
  font-size: 0.8rem;
  fill: white;
  text-anchor: middle;
  cursor: default;
  pointer-events: none;
}

ol {
  counter-reset: item; 
}

li {
  display: block;
}

ul > li:before {
  margin-left:-40px;
  padding-right:10px;
  content: "○"; 
}

ol > li:before {
  content: counters(item, "."); 
  counter-increment: item;
  padding-right: 10px; 
  margin-left: -40px;
}

li > ol > li > ol > li {
  padding-top: 10px;
}

@keyframes edgeglow {
  0% {stroke: black; stroke-width: 3;}
  50% {stroke: red; stroke-width: 6;}
  100% {stroke: red; stroke-width: 3;}
}

@keyframes edgeglow2 {
  0% {stroke: black; stroke-width: 3;}
  50% {stroke: red; stroke-width: 6;}
  100% {stroke: green; stroke-width: 4;}
}

@keyframes edgeglow3 {
  0% {stroke: black; stroke-width: 3;}
  50% {stroke: red; stroke-width: 6;}
  100% {stroke: #e6e6e6; stroke-width: 2;}
}
