/* * { outline: 1px solid red } */

body {
  background-color: #FFFAF1;
}

#viewbox {
  background: #f0f0f0;
  outline: 2px solid black;
  /*
  width: 55%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  */
}

#icon {
  vertical-align: sub;
  /*
  background: #f0f0f0;
  outline: 2px solid black;
  */
}

.logo-body {
  fill: #f0f0f0;
  stroke-width: 2;
  stroke: black;
}

.label {
  font: bold 16px Arial;
  text-anchor: middle;
  dominant-baseline: central;
  cursor: default;
}

.vertex:hover .body {
  fill: #21e264;
  opacity: 1;
}

.logo-edge {
  stroke: black;
  stroke-width: 2;
}

.edge:hover {
  stroke: red;
}

.button {
    fill: #007bbf;
    pointer: cursor;
}

.button:hover {
    fill: #0069d9;
}

.button-text {
  font-size: 0.8rem;
  fill: white;
  text-anchor: middle;
  cursor: default;
  pointer-events: none;
}

.progress {
  width: 80%;
}
