/* * { outline: 1px solid red } */

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  background-color: #FFFCF4;
  min-height: 100%;
  display: table;
  width: 100%;
}

#viewbox, #linear-data-structure {
  background: #f0f0f0;
  outline: 2px solid black;
  /*
  width: 55%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  */
}

#linear-data-structure.inactive,
#lds-title.inactive {
  opacity: 40%;
}

.label {
  font: bold 14px Courier New;
  text-anchor: middle;
  dominant-baseline: central;
  cursor: default;
}

.vertex:hover .body {
  fill: #21e264;
  opacity: 1;
  r: 15;
}

.edgeweight {
  font: bold 10px Courier New;
  text-decoration: underline;
  text-anchor: middle;
  cursor: default;
}

.edge:hover .body {
  stroke: red;
}

.edge:hover .head {
  fill: red;
}

.edge:hover .tail {
  fill: red;
}

.edge:hover .edgeweight {
  fill: red;
  font: bold 12px Courier New;
}

.button {
    fill: #007bbf;
    pointer: cursor;
}

.button:hover {
    fill: #0069d9;
}

.button-text {
  font-size: 0.8rem;
  fill: white;
  text-anchor: middle;
  cursor: default;
  pointer-events: none;
}

.progress {
  width: 100%;
}

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 22px;
  margin-bottom: 10px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.topnav {
  font: bold 10px Courier New;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #111;
}

.topnav a.title {
  float: left;
  color: #f2f2f2;
  padding: 14px 16px 12px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a.logo {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 5px 16px 5px;
  text-decoration: none;
  font-size: 30px;
}

.topnav a.link {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px 12px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.edge-weight-input {
  font: bold 11px "Courier New";
  height:10px;
  width:50px;
}

.edge-weight-input:focus {
  outline: none;
}

.gray-rect {
  fill: black;
  opacity: 0.5;
}

.dist {
  font: bold 10px "Verdana", "Courier New";
  text-anchor: middle;
  dominant-baseline: central;
  cursor: default;
}

fieldset {
  margin: 20px;
}

.active-line {
  background-color: #6BE796;
}

.active-line-red {
  background-color: #FF4343;
}

.code {
  font: bold 16px "Courier New";
}

.function-def {
  text-decoration: underline;
}

main {
  display: table-row;
  height: 100%;
}

footer {
  padding: 5px 0px 0px 0px;
  width: 100%;
  height: 25px;
  background: #111;
  font: bold 12px "Courier New";
  color: #f2f2f2;
  text-align: center;
}
